a, a:hover {
	color: #0077af;
}
.topbar {
	border-top: 1px solid #006eaf;
	background-color: #006eaf;
}
.header .navbar-default .navbar-nav li a:hover {
	color: #0077af;
	
}
.header .navbar-default .navbar-nav .active a, .header .navbar-default .navbar-nav .active a:hover, .header .navbar-default .navbar-nav .active a:focus {
	color: #0077af;
}
.header .navbar-nav li.open .dropdown-menu li a:hover, .header .navbar-nav li.open .dropdown-menu li a:focus, .header .navbar-nav li.dropdown .dropdown-menu li a:hover, .header .navbar-nav li.dropdown .dropdown-menu li a:focus {
	color: #af2300!important;
}
@media (max-width: 767px) {
.header .navbar-nav li.open .dropdown-menu li a:hover, .header .navbar-nav li.open .dropdown-menu li a:focus, .header .navbar-nav li.dropdown .dropdown-menu li a:hover, .header .navbar-nav li.dropdown .dropdown-menu li a:focus {
	color: #0077af!important;
}
}
.header .navbar-nav li.open .dropdown-menu li.active a {
	color: #0077af!important;
}
.captionLink, .captionLink:hover {
	background-color: #0077af;
}
.learnBtn {
	border: 1px solid #0077af;
	background: #0077af;
}
.flex-control-paging li a.flex-active {
	background: #0077af;
}
.related_post_sec a.more_post {
	border: 1px solid #0077af;
}
.courses_right_inner th {
	background: #0077af;
}
.courses_right_inner td ul li.active a {
	color: #0077af;
}
.courses_right_inner td a:hover {
	color: #0077af;
}
.pagination>li>a, .pagination>li>span {
	border: 1px solid #0077af;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	border-color: #0077af;
	background: #0077af;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	border-color: #0077af;
	background: #0077af;
}
.courses_left_inner ul li a:hover, .courses_left_inner ul li a:focus {
	color: #0077af;
}
.courses_left_inner ul li.active a {
	color: #0077af;
}
.item_inner a.fees {
	color: #0077af;
}
.sidebar_item.admission .item_inner.program ul li a {
	color: #0077af;
}
#single_banner .flex-control-paging li a.flex-active {
	background: #0077af;
}
.item_inner.slider .flex-direction-nav a {
	border: 1px solid #0077af;
}
.item_inner.question a {
	color: #0077af;
}
.tab_menu>ul li a:hover {
	background: #0077af;
	border-color: #0077af!important;
}
.tab_menu>ul li.active a {
	background: #0077af;
	border-color: #0077af!important;
}
.tab_menu>ul li.active a::after, .tab_menu>ul li a:hover::after {
	border-top: 10px solid #0077af;
}
.fc-center h2 {
	color: #0077af;
}
.fc-event-container a.more {
	color: #0077af;
}
.carousel-indicators li.active {
	background: #0077af;
}
ul.contact_info li .fa {
	color: #0077af;
}
ul.contact_info li a:hover {
	color: #0077af;
}
.error-content a {
	color: #0077af;
}
.price-title {
	background: #0077af;
}
@media (max-width: 767px) {
.header .navbar-default .navbar-nav li.apply_now a:hover {
	color: #0077af;
}
.header .navbar-nav li.open .dropdown-menu li a:hover, .header .navbar-nav li.open .dropdown-menu li a:focus {
	color: #0077af;
}
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	border: 1px solid #008246;
	background: #008246;
}
.caption_inner a {
	background: #008246;
}
.features ul li:hover i {
	color: #008246;
}
.content_top .content_left ul li:before {
	color: #008246;
}
.thumb_title .author_designation a {
	color: #008246;
}
.meta span a {
	color: #008246;
}
.post_bottom ul li a span {
	background: #008246;
}
.list_block {
	border-top: 3px solid #008246;
}
.rel_right span.date a {
	color: #008246;
}
.form-control:focus {
	border-color: #008246;
}
.commonBtn, .commonBtn:hover {
	background-color: #008246;
	border-color: #008246;
}
.commonBtn:hover, .commonBtn:focus {
	background-color: #008246!important;
}
.formArea, .getArea {
	border-top: 3px solid #008246;
}
.block_quate {
	border-left: 4px solid #008246;
}
.sidebar_item {
	border-top: 3px solid #008246;
}
.upcoming_events ul li:hover span.date {
	color: #008246;
}
.event_calendar {
	border-top: 3px solid #008246;
}
@media (min-width: 768px) {
.header .navbar-default .navbar-nav li.apply_now a {
	background: #008246!important;
}
.header .navbar-default .navbar-nav li.apply_now a:hover {
	background: #008246!important;
}
}
